Repository jamilraichouni/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ubuntu, python

ubuntu:
  stage: deploy
  script:
  - docker build -t registry.gitlab.com/jar1/docker-images/ubuntu:latest ubuntu
  - docker push registry.gitlab.com/jar1/docker-images/ubuntu:latest

python:
  stage: deploy
  script:
  - docker build -t registry.gitlab.com/jar1/docker-images/python:latest python
  - docker push registry.gitlab.com/jar1/docker-images/python:latest

make it faster and smaller
  python/Dockerfile
Due: python

to be able to cache between CI jobs
  python/Dockerfile
Due: python

Avoid No such file or directory: 'python'
  python/Dockerfile
Due: python

Global install of anybadge
  python/Dockerfile
Due: python

simpler url and no poetry venv in project dir
  .gitignore
  .gitlab-ci.yml
  python/Dockerfile
Due: python

Trigger pipeline when global CI changes
  .gitlab-ci.yml
Due: none

project name needed after group name in image name
  .gitlab-ci.yml
Due: none

missed that
  .gitlab-ci.yml
Due: none

always build and python needs ubuntu
  .gitlab-ci.yml
Due: none

Make poetry shell happy
  ubuntu/Dockerfile
Due: ubuntu

Make docker registry dynamic
  .gitlab-ci.yml
  python/Dockerfile
Due: python

Fix docker registry
  python/Dockerfile
Due: python

cleanup
  .gitlab-ci.yml
Due: none

Adapt for alpine
  python/Dockerfile
Due: python

no need for cookiecutter for now
  python/Dockerfile
Due: python

Even more clean CI setup
  .gitlab-ci.yml
Due: none

Provide python 3.9.7 with different Linux distros
  .gitlab-ci.yml
  python-alpine/Dockerfile
  python-ubuntu/Dockerfile
Due: none

restructure
  .gitlab-ci.yml
  alpine-python/Dockerfile
  ubuntu-python/Dockerfile
Due: none

Fix the pipeline
  .gitlab-ci.yml
Due: none

Fix invalid yaml
  .gitlab-ci.yml
Due: none

Make it fast, but also comlex!?
  .gitlab-ci.yml
Due: none

Do not upload .git dir as artifact
  .gitlab-ci.yml
Due: none

Try to fix issue of having .git in artifacts
  .gitlab-ci.yml
Due: none

Add Debian (slim-buster) based python img
  .gitlab-ci.yml
  debian-python/Dockerfile
Due: none

Code found in www
  alpine-python/Dockerfile
Due: none

toml for control_poetry_dynamic_versioning.py
  debian-python/Dockerfile
  ubuntu-python/Dockerfile
Due: none

Add logic that imgs get built after Dockerfile mod
  .gitlab-ci.yml
Due: none

Ignore local env
  .gitignore
Due: none

Fix ignore local env
  .gitignore
Due: none

Decrease img size
  debian-python/Dockerfile
Due: none

so that debian-python builds
  .gitlab-ci.yml
Due: none

new imgs
  .gitlab-ci.yml
  debian-python/Dockerfile
Due: none

...
  .gitlab-ci.yml
Due: none

Make CI more clean
  .gitlab-ci.yml
  alpine-python3.9.7/Dockerfile
  debian-python3.9.7/Dockerfile
  ubuntu-python3.9.7/Dockerfile
Due: none

Install vim
  debian-python3.9.7/Dockerfile
Due: none

Add py3.10 image
  .gitlab-ci.yml
  debian-python3.10.0/Dockerfile
Due: none

Describe how to build manually
  README.md
Due: none

Ignore common stuff
  .gitignore
Due: none

Improve readability
  debian-python3.10.0/Dockerfile
Due: none

Path conditions:
  ubuntu: any of: ubuntu/Dockerfile
  python: any of: python/Dockerfile
